.disabled{
    
    pointer-events:none; 
    opacity:0.4;        

}
#todoList{
    border: 7px solid black;
    border-radius: 0.5rem;
    background-color: blanchedalmond;
    color: black;
}
#welcome{
    font-family: cursive;
    font-weight: bolder;
    color: yellow;
    
}